.works-list {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #9c27b0;
}

ul {
    padding: 0;
}

.works-list-links {
    margin: 0;
    list-style-type: none;
}

.links-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-list-links:hover{
    text-decoration: none;
}